.visitorHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0 5px 0;
}

.visitorHeader__title {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
}

.visitorHeader__search {
  width: 50%;
}

.visitorHeader__input {
  width: 100%;
  margin: 0px;
}

.visitorHeader__inputInfo {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  color: #B9B9B9;
}

/* mobile styles */
@media screen and (max-width: 550px) {
  .visitorHeader__title {
    width: 100%;
  }
  
  .visitorHeader__search {
    width: 1000%;
    margin-top: 10px;
  }
}