/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333333;
}

/* General Styles */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid;
  border-color: #E3E3E3;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: 2px solid #4579FF;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #4579FF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.button--wide {
  width: 100%;
}

.button__icon {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Admin Layout */
.adminLayout {
  background-color: #B9B9B9;
  min-height: 100vh;
}

.adminLayout__bottom {
  padding: 0px 10px 30px 10px;
}

/* Visitor Layout */
.visitorLayout {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

/* Login Page */
.login {
  max-width: 600px;
  margin: 0 auto;
}

.login__title {
  text-align: center;
  padding: 30px 0 60px 0;
}

.login__input {
  margin-bottom: 24px;
}

.login__form {
  padding: 25px;
  margin: 0 20px 0 20px;
  background-color: white;
  border: 1px solid;
  border-color: #E3E3E3;
  border-radius: 5px;
}

.login__error {
  color: red;
  margin-bottom: 24px;
}

/* Images Page */
.images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.images__imageContainer {
  position: relative;
  width: 25%;
  height: 225px;
  padding: 2px;
}

.images__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: inherit;
  cursor: pointer;
}

/* Admin Images Page */
.adminImages{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.adminImages__header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
  border-color: #E3E3E3;
}

.adminImages__title {
  font-weight: bold;
}

.adminImages__fileInput {
  display: none;
}

/* Admin Header Component */
.adminHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 30px;
  height: 60px;
  background-color: white;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}

.adminHeader__link {
  align-self: stretch;
  padding: 15px 0px;
  text-decoration: none;
  background-color: white;
  color: #333333;
  font-weight: bold;
  border-top: solid 5px;
  border-top-color: white;
  border-bottom: solid 5px;
  border-bottom-color: white;
}

.adminHeader__link:hover, .adminHeader__link--active {
  color: #4579FF;
  border-bottom-color: #4579FF;
}

.adminHeader__logout {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.adminHeader__logout:hover {
  color: #4579FF;
}

/* Visitor Header Component */

.visitorHeader {
  padding: 20px 0px;
}

.visitorHeader__title {
  font-size: 32px;
  font-weight: bold;
}

/* Drag Drop Component */
.dragDrop {
  margin: 20px;
  border-radius: 5px;
  background: rgba(69, 121, 255, 0.1); 
  padding: 10px;
  min-height: inherit;
}

.dragDrop__imageContainer {
  position: relative;
  width: 20%;
  height: 150px;
  padding: 2px;
}

.dragDrop__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: inherit;
}

.dragDrop__innerContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: inherit;
}

.dragDrop__overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  padding-top: 30px;
  color: white;
  height: 100%;
  width: 100%;
  background: rgba(66, 66, 66, 0.637); 
}

/* Image Modal Component */
.imageModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1;
  top: 0;
  left: 0;
}

.imageModal__imageContainer {
  position: relative;
  height: 95vh;
  width: auto;
}

.imageModal__image {
  height: 100%;
  width: auto;
}

/* Modal Advancer Component */
.modalAdvancer__left, .modalAdvancer__right{
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modalAdvancer__left {
  left: 0;
}

.modalAdvancer__right {
  right: 0;
}

.modalAdvancer--hovered {
  background: rgba(131,131,131,0.3)
}

.modalAdvancer__icon {
  height: 20px;
  width: 20px;
}

/* mobile styles */
@media screen and (max-width: 400px) {
  .images__imageContainer {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .dragDrop__imageContainer {
    width: 50%;
    height: 100px;
  }
}

@media screen and (max-width: 650px) {
  .images__imageContainer {
    width: 50%;
  }
}





